body{
  padding:0 !important;
  margin:0 !important;
  background:linear-gradient(280deg,#00964b,#2cc24f) !important;
background-attachment: fixed !important;
  color:#fff !important;
  transition: opacity .15s linear !important;
  
}

.title{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color:  	#00964b;
  font-size: 2rem;
}
.anchor:hover{
  text-decoration: none;
}
.span-tag{
  color:black;
  text-shadow:2px 2px 2px crimson;
  font-style: italic;
}
.header_title{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}